html {
    color: fuchsia
}

body {
    color: blue;
    background-color: darkcyan;
}

h1 {
    color: chartreuse;
    background-color: beige;
    font-family: "arial";

}

/*p{ background-color: darksalmon}*/

a {
    color: red;
}

a {
    color: red;
}

h2 {
    font-family: sans-serif;
    font-weight: 600;
    color: azure;
}

.cis-260 {
    color: bisque;
    background-color: blueviolet;
}

.test {
    background-color: darkgreen;
}

.hummingbird {
    color: black
}
p {font-size: 42pt
    
    ;
    
}
